<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="ControleMembro" class="br.ufpe.cin.in980.membro.ControleMembro">
		<property name="membroDAO">
			<ref local="IMembroDAO"/>
		</property>
	</bean>

	<bean id="IMembroDAO" class="br.ufpe.cin.in980.membro.MembroDAO">
	</bean>

</beans>