<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>researchgroup</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarMembroServlet</display-name>
    <servlet-name>CadastrarMembroServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.membro.CadastrarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarMembroServlet</servlet-name>
    <url-pattern>/cadastrar_membro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionaisAjaxServlet</display-name>
    <servlet-name>AdicionaisAjaxServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.util.AdicionaisAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaisAjaxServlet</servlet-name>
    <url-pattern>/add_adicional.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarMembroServlet</display-name>
    <servlet-name>BuscarMembroServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.membro.BuscarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarMembroServlet</servlet-name>
    <url-pattern>/buscar_membro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarMembroServlet</display-name>
    <servlet-name>EditarMembroServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.membro.EditarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarMembroServlet</servlet-name>
    <url-pattern>/editar_membro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarMembroServlet</display-name>
    <servlet-name>DeletarMembroServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.membro.DeletarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarMembroServlet</servlet-name>
    <url-pattern>/deletar_membro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPublicacaoServlet</display-name>
    <servlet-name>CadastrarPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.CadastrarPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPublicacaoServlet</servlet-name>
    <url-pattern>/cadastrar_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPublicacao2</display-name>
    <servlet-name>CadastrarPublicacao2</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.CadastrarPublicacao2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPublicacao2</servlet-name>
    <url-pattern>/cadastrar_publicacao2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPublicacaoServlet</display-name>
    <servlet-name>BuscarPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.BuscarPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPublicacaoServlet</servlet-name>
    <url-pattern>/buscar_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverPublicacaoServlet</display-name>
    <servlet-name>RemoverPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.RemoverPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverPublicacaoServlet</servlet-name>
    <url-pattern>/remover_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPublicacaoServlet</display-name>
    <servlet-name>EditarPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.EditarPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPublicacaoServlet</servlet-name>
    <url-pattern>/editar_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPublicacao2Servlet</display-name>
    <servlet-name>EditarPublicacao2Servlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.publicacao.EditarPublicacao2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPublicacao2Servlet</servlet-name>
    <url-pattern>/editar_publicacao2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BibtexPublicacaoServlet</display-name>
    <servlet-name>BibtexPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.bibtex.BibtexPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BibtexPublicacaoServlet</servlet-name>
    <url-pattern>/bibtex_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPDFServlet</display-name>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.pdf.DownloadPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <url-pattern>/download_pdf.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarLinhaPesquisaServlet</display-name>
    <servlet-name>CadastrarLinhaPesquisaServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.linhapesquisa.CadastrarLinhaPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarLinhaPesquisaServlet</servlet-name>
    <url-pattern>/cadastrar_linhapesquisa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarLinhaPesquisaServlet</display-name>
    <servlet-name>BuscarLinhaPesquisaServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.linhapesquisa.BuscarLinhaPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarLinhaPesquisaServlet</servlet-name>
    <url-pattern>/buscar_linhapesquisa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarLinhaPesquisaServlet</display-name>
    <servlet-name>EditarLinhaPesquisaServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.linhapesquisa.EditarLinhaPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarLinhaPesquisaServlet</servlet-name>
    <url-pattern>/editar_linhapesquisa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverLinhaPesquisaServlet</display-name>
    <servlet-name>RemoverLinhaPesquisaServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.linhapesquisa.RemoverLinhaPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverLinhaPesquisaServlet</servlet-name>
    <url-pattern>/remover_linhapesquisa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerarListaPublicacaoServlet</display-name>
    <servlet-name>GerarListaPublicacaoServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.pdf.GerarListaPublicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerarListaPublicacaoServlet</servlet-name>
    <url-pattern>/gerar_lista_publicacao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjetoPesquisaServlet</display-name>
    <servlet-name>ProjetoPesquisaServlet</servlet-name>
    <servlet-class>br.ufpe.cin.in980.projetopesquisa.ProjetoPesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjetoPesquisaServlet</servlet-name>
    <url-pattern>/cadastrar_projeto_pesquisa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletComum</display-name>
    <servlet-name>HttpServletComum</servlet-name>
    <servlet-class>br.ufpe.cin.in980.util.HttpServletComum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletComum</servlet-name>
    <url-pattern>/HttpServletComum</url-pattern>
  </servlet-mapping>
</web-app>